body, html, h1, h2, h3, h4, p, a, ul, li, ul li, p a {
	margin:0; padding:0;
}
body {
	font-family:helvetica;
	background:#fff;
}
.cf:before,
.cf:after {
    content:" ";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    *zoom:1;
}
.container {
	width:80%;
	margin:auto;
}

/* Nav Form UI */
nav {
	position:fixed;
	width:100%;
}
nav section {
	padding:20px 0;
	background-color:#f6f6f6;
	border-bottom:1px solid #e5e5e5;
	text-align:center;
}
form select {
	width:100px;
	display:inline-block;
	background-color:#fff;
	box-shadow:1px 2px 0 #c0c0c0;
	font-size:1.2em;
	color:steelblue;
	margin-right:20px;
}
form select:hover {
	cursor:pointer;
}

/* Map Elements */
#map {
	display:block;
	width:500px;
	height:500px;
	margin:auto;
	padding-top:100px;
}
svg {
	vertical-align: middle;
	position:absolute;
}
.state {
	fill: none;
	stroke-width:1px;
	opacity:0;
}
.state.one-active,
.state.two-active {
	opacity:.8;
	stroke-width:.5px;
}
.state.one-active {
	stroke:#b44682;
}
.state.two-active {
	stroke:#82b446;
}