body, html, h1, h2, h3, h4, p, a, ul, li, ul li, p a {
	margin:0; padding:0;
}
body {
	font-family:helvetica;
	background:#fff;
}
nav {
	position:fixed;
	width:100%;
	background:rgba(255,255,255,0.8);
	border-bottom:1px solid #c0c0c0;
}
nav h1 {
	font-size:1.5em;
	color:#555;
	font-weight:600;
	float:left;
	padding:5px 0 5px 30px;
	margin:0;
}
#main {
	display:block;
	margin:auto;
	width:960px;
	padding:60px 0 30px 0;
}

/* Article Styles */
p {
	font-size:0.9em;
	color:#555;
}
h1 {
}

/* Map Styles */
#indexMap {
	display:inline-block;
}
.land {
	fill:#c0c0c0;
	stroke:#fff;
	stroke-width:2px;
}
.land:hover {
	fill:#c0c0c0;
}
.circle {
	stroke-width:2px;
	fill:none;
}

#compareMap {
	display:block;
}


/* Info Pan Styles */
#info {
	display:inline-block;
	text-align:center;
	font-weight:600;
}
#first {
	color:#B2AD28;
}
#second {
	color:#458FB2;
}
